.logo {
    height: 65px;
    width: 120px;
}

.header {
    width: 100px;
    height: 100px;
}

.image {
    height: 85px;
    width: 125px;
    padding: 15px;
    background: #ff8a96;
    border-radius: 30px;
}

a {
    cursor: pointer;
}